.hero-icon {
  width: 100%;
  height: auto;
  filter: brightness(80%);
  object-fit: cover;
  box-shadow: 0 1px 2px 1px rgb(54, 54, 54); /* Adds a subtle shadow effect */
}

.hero-container:hover {
  transform: scale(1.1);
}
.hero-container {
  transition: transform 0.3s ease;
  overflow: hidden;
  position: relative;
}

.overlay-text {
  width: 100%;
}
